
.four-box {
  height: auto;
  width: auto;
  max-width: 43rem;
  background-color: lightgray;
  border: 0.1rem solid black;
  padding: 1rem;
  display: flex;
}

.three-box {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border: .5rem solid white;
  padding: .7rem;
  display: flex;
}

.two-box {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 0.09rem solid black;
  padding: .3rem;
  display: flex;
}

.one-box {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border: 0.09rem solid black;
  padding: 1rem;
}

